.explain__section2 {
  margin: 0 auto 50px;
  max-width: 1440px;
}
.explain__container2 {
  display: flex;
  flex-direction: column;
  margin: 60px 10px 0 10px;
  padding-top: 65px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: var(--light_gray);
  border-radius: 50px;
}

.explain__container2 h3:first-child {
  color: var(--dark_gray);
  line-height: 1;
  font-weight: 400;
}

.explain__container2 h3:nth-child(2) {
  color: var(--dark_blue);
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.4;

}


.explain__container2 p {
  color: var(--dark_gray);
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .explain__section2 {
    padding: 0 150px;
  }

  .explain__container2 {
    margin: 60px 0 0 0;
    height: 540px;
  }
}

@media (min-width: 1440px) {
  .explain__section2 {
    margin-bottom: 0;
  }
}