:root {
  --black: #000;
  --white: #fff;
  --light_gray: #f5f6f7;
  --dark_blue: #0f2336;
  --aqua: #00cccc;
  --dark_gray: #576d81;
  --hover_button: #0BE3A6;
  --input_background: #f0f0f2;

  --roboto: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}
*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 400;

}

main {
  max-width: 1440px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
  padding: 0;
}



